.main-blog{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    &_block{
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    }
    &_title{
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
    margin-bottom: 15px;
}
    &_text{
        margin-bottom: 15px; 
    }
}